body {
    margin:0 auto;
    padding:0;
    width:98%;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    background-color:#3399FF;
    overflow: hidden;
}

header h1 {
    float:left;
    color:white;
    margin:0;
    padding:10.5px;
}

header h1:hover {
    background-color:white;
    color:#3399FF;
}

#container {
    display: block;
    cursor: pointer;
    float:right;
    padding:9.5px;
    display:none;
}

.bar1 , .bar2 , .bar3 {
    width:35px;
    height:5px;
    margin:6px 0;
    background-color:white;
    transition:0.5s;
}

.active1 .bar1 {
    transform:rotate(-45deg) translate(-9px , 6px);
}

.active1 .bar2 {
    opacity: 0;
}

.active1 .bar3 {
    transform: rotate(45deg) translate(-8px , -8px);
}

nav ul {
    float:right;
    list-style:none;
    margin:0;
}

nav ul li {
    float:left;
    transition:0.5s;
}

nav ul li a {
    display:block;
    padding:20px;
    text-decoration: none;
    color:white;
    font-weight: bold;
    transition:0.5s;
}

nav ul li a:hover {
    background-color:white;
    color:#3399FF;
    transition:0.5s;
}

.split {
    width:50%;
    height: 550px;
    z-index: 1;
    box-sizing: border-box;
}

.left {
    background-color:lightgreen;
    float: left;
    position: relative;
}

.left .elements {
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.left img {
    width:150px;
    height:180px;
    border-radius: 50%;
}

.right {
    background-color: lightsteelblue;
    float: right;
    position: relative;
}

.right .elements {
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.right img {
    width:150px;
    height:180px;
    border-radius: 50%;
}

#slideShow{
    width:100%;
    height: 80%;
    position: relative;
}

.images {
    display:none;
}

#slideShow img {
    width:100%;
    max-height:500px;
}

#dots {
    position: absolute;
    bottom: 40px;
    left: 45%;
}

.dot {
    width: 15px;
    height:15px;
    border-radius: 50%;
    background-color:lightgray;
    cursor:pointer;
    margin:0 2px;
    display: inline-block;
    transition:background-color 0.5s ease-in-out;
}

.dot:hover {
    background-color:darkgray;
}

.active {
    background-color:darkgray;
}

#btn1 button {
    display:inline-block;
    cursor: pointer;
    padding:15px 20px;
    border:2px solid black;
    outline:none;
    font-weight: bold;
    background-color:transparent;
}

#btn1 #register {
    margin:0 20px;
    border-color:#3399FF;
    color:#3399FF;
}

#btn1 #register:hover {
    background-color:white;
    border-color:white;
}

#btn1 #login {
    border-color:white;
    color:white;
}

#btn1 #login:hover {
    background-color:#3399FF;
    border-color:#3399FF;
}

#container1 {
    max-width:100%;
    background-color: #3399FF;
    box-sizing: border-box;
}

#container1 p {
    display: inline-block;
    max-width:70%;
}

#container1 img {
    display: inline-block;
    width:400px;
    border-radius: 50%;
}

@media all and (max-width:660px) {
    #container {
        display:block;
    }
    nav {
        display:none;
        transition:display 0.5s ease-in;
    }
    nav ul li {
        float:none;
    }
    nav ul {
        width:100%;
        text-align: center;
    }
}

footer {
    background-color:lightslategray;
    overflow: hidden;
}

.foot {
    width: 33.33%;
    display: inline-block;
    position: relative;
}

.foot a .fa {
    display: block;
    padding:4px;
    margin:2px;
}

#form form {
    width:300px;
    background-color:lightgreen;
    color:white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index:1;
    /* display: none; */
}

#form input[type=text] , #form input[type=password] {
    width:100%;
    padding:5px 10px;
    margin:15px 0 20px 0;
    display:inline-block;
    box-sizing:border-box;
}

#form button[type=submit] {
    width:100%;
    box-sizing:border-box;
    padding:10px;
    text-align: center;
    margin:10px 0;
    background-color:#3399ff;
    border:none;
}

#form .close {
    float:right;
    cursor: pointer;
    font-size:20px;
}

footer {
    width:30em;
    height:30em;
}

